nav {
  color: #f9c411;
  background-color: #0794d1;
  padding: 1rem 0;
  }
  
  nav h2 {
    display: inline;
    margin: 0 2vw;
    font-size: 1.25rem;
    color: white;
  }
  
  nav a {
    margin: 0 2vw;
    font-size: 1rem;
    color: white;
    text-decoration: none;
  }
  nav a:hover {
    height: 100%;
    font-weight: bold;
  }
  nav a:visited {
    color: #f9c411;
  }

  header h1 {
    font-size: 6vw;
    text-align: center;
    color: white;
    padding: 5% 0 3%;
    text-shadow: 4px 4px 5px black;
  }