nav {
  color: #f9c411;
  background-color: #0794d1;
  padding: 1rem 0;
  }
  
  nav h2 {
    display: inline;
    margin: 0 2vw;
    font-size: 1.25rem;
    color: white;
  }
  
  nav a {
    margin: 0 2vw;
    font-size: 1rem;
    color: white;
    text-decoration: none;
  }
  nav a:hover {
    height: 100%;
    font-weight: bold;
  }
  nav a:visited {
    color: #f9c411;
  }

  header h1 {
    font-size: 6vw;
    text-align: center;
    color: white;
    padding: 5% 0 3%;
    text-shadow: 4px 4px 5px black;
  }

  h3 {
    font-size: 1.5rem;
  }
  
  #searchContainer, #resultsContainer {
    color: white;
    background-color: rgb(156, 124, 124);
    padding: 2vw;
    margin: 2vw;
    font-size: 3vw;
  }
  
  label {
    font-size: 1.25rem;
    margin: 2vw;
  }
  input {
    margin: 1vw 0;
    width: 96%;
    padding: 1.75vw;
    font-size: 1.25vw;
  }
  button {
    border-radius: 0;
    border-width: .25vw;
    border-style: double;
    background-color: #0794d1;
    color: white;
    padding: .75vw 4vw;
    font-size: 1.5vw;
    font-weight: bold;
  }
  button[disabled] {
    background-color: #f9e39f;
    color: gray;
    text-decoration: line-through;
  }
  form {
    padding: 1rem 0 1.5rem;
    position: relative;
  }
  form button {
    position: absolute;
    right: 0;
  }